nav {
    background-color:gray;
}

nav li {
    display: inline;
}

nav a {
    color:white;
    text-decoration: none;
    padding: 26px 30px;
    font-size: 30px;
    float:right;
}


nav a:hover {
    background-color: #ddd;
    color: black;
}



.box {
    width:500px;
    height:500px;
    border:5px solid black;
    padding-top:40px;
    background-color:lavender;
    font-size: 20px;
    font-family:cursive;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color:gray;
    font-size:30px;
  }
  
  .flex-container {
    display: flex;
    justify-content: flex-start;
}
  
  .flex-container > div {
    margin:40px;
    
  }
@media only screen and (max-width:1131px) {
    #row4 {
        width: 42vw;
    }

    #row5 {
        width: 45vw;
    }

    #row6 {
        margin-top: 20px;
        width: 90vw;
    }
}

@media only screen and (min-width:600px) and (max-width:781px) {
    #row4 {
        width: 84vw;
        margin: auto;
        margin-left: 22px;
    }

    #row5 {

        width: 84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }

    #row6 {
        width: 84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
}

@media only screen and (max-width:600px) {
    #row4 {
        width: 78vw;
        margin: auto;
        margin-left: 3px;
    }

    #row5 {

        width: 78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }

    #row6 {
        width: 78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
}

@media only screen and (min-height:1000px) {
    #navbar {
        height: 10vh;
    }

    #container1::before {
        height: 39vh;
    }

    #container1 {
        height: 44vh
    }
}
